

    <table class="table table-bordered" id="dataTable" style="width:80% " cellspacing="0">


        <tbody>

            <tr style="background-color:darkgrey">
                <td>
                    Create New Role
                </td>


            </tr>



            <tr>
                <td>


                    <form class="user" asp-action="Create" method="post">


                        <input type="hidden" name="Id" />
                        <div class=" col-8 form-group">
                            <label class="col-6" style="text-size-adjust:auto ;margin-left:13px ;color:gray"> Enter Role Name : </label>


                            <input type="text" name="RoleName" class="form-control form-control-user"
                                   placeholder=" RoleName...">
                            <span class="text-danger"></span>
                        </div>



                        <hr />

                        <div style="margin-left:100px ;margin-top:30px">
                            <button type="submit" class="btn btn-success">  <i class="fa fa-check "> </i> Create  </button>
                            <a asp-action="Index" class="btn btn-danger" asp-controller="Roles">  <i class="fa fa-exclamation-circle "> </i> Close </a>
                        </div>
                    </form>
                </td>
            </tr>

        </tbody>





    </table>
